.event-item1 {
    background-color: #D9D9D9;
    display: flex;
    width: 1210px;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    outline-style: solid;
    letter-spacing: 2px;
    
}


.event-title{
    font-size: 80px;
    margin-left: 110px;
    margin-bottom: -10px;
    margin-top: 20px;
    letter-spacing: 2px;
}


.eventitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.date select {
    font-size: 30px;
    width: 250px;
}

.time select {
    font-size: 30px;
    width: 250px;
}



.inputbars{
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 20px;
}

.text{
    width: 480px;
    
}

