.words{
    color: white;
    margin: 0;
    padding-top: 110px;
    padding-left: 80px;
    width: 600px;
}

.word{
  width:500px;
  height: 250px;
}
.pic{
  width: 420px;
  height: 420px;
  position: absolute;
  right: 200px;
  bottom: 70px;
  
}
.background {
    background-color: #FF6B3D;
    background-repeat: no-repeat;
    height: 600px;
    
  }

  .perform {
    font-size: 22px;
    color:aliceblue;
    background-color: black;
    margin-left: 55px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    width: 208px;
    height: 60px;
    box-shadow: none;
  }