* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
  }
  .jamimg {
    height: 100px;
    width: 190px;
    margin-left: 40px;
  }
  .nav{
    background-color:#FF6B3D;
    color: rgb(254, 254, 254);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    height: 65px;
    padding-top: 120px;
    }
    button{
      font-size: 20px;
      background-color: black;
      color: white;
     padding: 10px;
     border-radius: 30px;
     border-style: none;
     width: 180px;
    
    }
  
  .site-title{
    font-size: 0px;
    font-weight: 700;
    line-height: 34.77px;
    margin-left: 10px;
  }
  li {
    font-size: 20px;
    padding-left: 20px;
    padding-top: 30px;
  }
  .nav ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 13px;
    margin-right: 40px;
  }
  .nav-logo{
    font-size: 30px;
    color: #D99BFF;
  }

  
  .nav-title-container {
    display: flex;
    align-items: center;
  }
  
  .nav a {
    color: inherit;
    text-decoration: none;
    font-size: 25px;
  }

  
  